<html class="min-h-screen bg-gradient-to-b from-yellow-100 to-blue-100">
  <body class="font-sans text-gray-800">

    <app-logo class="w-24 md:w-32 lg:w-40"></app-logo>

    <!-- Filtres -->
    <header class="w-full flex justify-center">
      <div class="flex gap-4 max-w-2xl w-full px-4">
        <!-- Select Mois -->
        <div class="relative w-1/2">
          <select
            [(ngModel)]="selectedMonth"
            (ngModelChange)="onSelectedMonthChange()"
            class="block w-full appearance-none px-4 py-2 pr-10 text-base text-gray-700 bg-white border border-yellow-400 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-red-400"
          >
            <option *ngFor="let month of months">{{ month }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-3 flex items-center text-gray-400">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>
        </div>

        <!-- Select Base -->
        <div class="relative w-1/2">
          <select
            [(ngModel)]="selectedBase"
            class="block w-full appearance-none px-4 py-2 pr-10 text-base text-gray-700 bg-white border border-yellow-400 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-red-400"
          >
            <option [ngValue]="null">Toutes les bases</option>
            <option *ngFor="let base of baseOptions" [ngValue]="base">
              {{ base }}
            </option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-3 flex items-center text-gray-400">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>
        </div>
      </div>
    </header>

    <!-- Liste des pizzas -->
    <div *ngFor="let base of baseOptions">
      <div *ngIf="getFilteredPizzas(base) as pizzas">
          <app-toggleable-section *ngIf="pizzas.length > 0" [title]="'Base : ' + base">
            <ng-container>
            <main class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 gap-4 p-4">
              <app-pizza-card
                *ngFor="let pizza of pizzas"
                [image]="pizza.image"
                [title]="pizza.title"
                [base]="pizza.base"
                [beforeCooking]="pizza.beforeCooking"
                [afterCooking]="pizza.afterCooking"
              ></app-pizza-card>
            </main>
          </ng-container>
        </app-toggleable-section>
      </div>
    </div>

  </body>
</html>
