body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
}

.full-container {
  padding: 20px;
  width: 100%;
}

header, h1 {
  margin-bottom: 20px;
  display: flex;
}

select {
  padding: 8px;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 10%;
}

app-pizza-card {
  display: flex;
  justify-content: center;
}

html {
  width: 100%;
  overflow-x: hidden;
}