<div class="relative w-64 h-64 mx-auto">
    <div class="absolute inset-0 flex items-center justify-center animate-spin-slow">
        <svg viewBox="0 0 200 200" class="w-full h-full">
        <defs>
            <path
            id="text-circle"
            d="M 100,100 m -75,0 a 75,75 0 1,1 150,0 a 75,75 0 1,1 -150,0"
            />
        </defs>
        <text fill="black" font-size="14" font-weight="bold">
            <textPath href="#text-circle" startOffset="0%">
            LES PIZZAS DE FLORENT
            </textPath>
        </text>
        </svg>
    </div>

    <!-- Image au centre -->
    <div class="absolute inset-0 flex items-center justify-center">
        <div class="w-46 h-46 rounded-full overflow-hidden shadow-lg border-4 border-white">
            <img src="assets/logo.png" alt="Pizza" class="w-full h-full object-cover" />
        </div>
    </div>
</div>
  