<head>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<div 
  class="cursor-pointer [perspective:1000px] w-full max-w-xs aspect-square mx-auto"
  (mouseenter)="emitFlip()" 
  (mouseleave)="resetFlip()"
  (touchstart)="emitFlip()"
>
  <div
    class="relative w-full h-full duration-700 [transform-style:preserve-3d] shadow-2xl"
    [ngClass]="{ '[transform:rotateY(180deg)]': flipped }"
  >

    <!-- Face avant -->
    <div class="absolute inset-0 rounded-lg p-1 bg-gradient-to-br from-yellow-400 to-red-500 backface-hidden">
      <div class="w-full h-full rounded-md overflow-hidden">
        <img *ngIf="visible" 
          (load)="onImageLoad()"
          class="w-full h-full object-cover"
          [src]="image"
          alt="Pizza" />
        <!-- Spinner Tailwind -->
        <div *ngIf="visible && !loaded" 
          class="absolute inset-0 flex items-center justify-center bg-gray-100/70 rounded-xl">
          <div class="h-10 w-10 border-4 border-gray-400 border-t-transparent rounded-full animate-spin"></div>
        </div>
      </div>
    </div>
    

    <!-- Face arrière -->
    <div
      class="absolute inset-0 bg-[#1e3a8a] text-gray-100 rounded-lg sm:p-6 [transform:rotateY(180deg)] backface-hidden flex flex-col justify-center items-center text-center"
      style="font-family: 'Inter', sans-serif;"
      >
      <h1 
        class="w-screen text-sm sm:text-xl font-bold mb-2 text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 via-red-500 to-pink-600" 
        style="font-family: 'Bangers', cursive;"
      >
        {{ title }}
      </h1>
  

      <!-- Détails pizza -->
      <div class="flex flex-col text-xs sm:text-sm lg:text-base text-gray-100 px-2 break-words text-left w-full">
        <div class="w-full">
          <span class="font-bold text-yellow-400">Base :</span>
          <span class="ml-1">{{ base }}</span>
        </div>
        <div class="w-full">
          <span class="font-bold text-yellow-400">Avant cuisson :</span>
          <span class="ml-1">{{ beforeCooking }}</span>
        </div>
        <div *ngIf="afterCooking" class="w-full">
          <span class="font-bold text-yellow-400">Après cuisson :</span>
          <span class="ml-1">{{ afterCooking }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
