<div 
  class="cursor-pointer [perspective:1000px] w-full max-w-3xs sm:max-w-xs aspect-square mx-auto"
  (mouseenter)="toggleFlip()" 
  (mouseleave)="resetFlip()"
  (touchstart)="toggleFlip()"
  (touchend)="resetFlip()"
>
  <div
    class="relative w-full h-full duration-700 [transform-style:preserve-3d] shadow-lg"
    [ngClass]="{ '[transform:rotateY(180deg)]': flipped }"
  >

    <!-- Face avant -->
    <div class="absolute inset-0 rounded-lg shadow overflow-hidden backface-hidden">
      <img class="w-full h-full object-cover" [src]="image" alt="Pizza" />
    </div>

    <!-- Face arrière -->
    <div class="absolute inset-0 bg-blue-100 rounded-lg shadow p-4 sm:p-6 [transform:rotateY(180deg)] backface-hidden flex flex-col justify-center items-center text-center">
      <h1 class="text-lg sm:text-xl font-bold text-gray-800 mb-2">{{ title }}</h1>
      <div class="grid gap-y-1 text-gray-700 text-sm sm:text-base">
        <div class="grid grid-cols-[auto,1fr] items-start gap-x-1">
          <span class="font-bold underline">Base :</span>
          <span>{{ base }}</span>
        </div>
        <div class="grid grid-cols-[auto,1fr] items-start gap-x-1">
          <span class="font-bold underline">Avant cuisson :</span>
          <span>{{ beforeCooking }}</span>
        </div>
        <div *ngIf="afterCooking" class="grid grid-cols-[auto,1fr] items-start gap-x-1">
          <span class="font-bold underline">Après cuisson :</span>
          <span>{{ afterCooking }}</span>
        </div>
      </div>
    </div>

  </div>
</div>
